@font-face {
    src: url(../assets/hotelMarkupAssets/Dosis-VariableFont_wght.ttf);
     font-family: Dosis;
 }

 @font-face{
    src: url(../assets/hotelMarkupAssets/SourceSansPro-Regular.ttf);
    font-family: SourceSansPro;
 }

 @font-face{
    src: url(../assets/hotelMarkupAssets/SourceSansPro-Bold.ttf);
    font-family: SourceSansProBold;
 }

.navbar{
justify-content: center;
top: 0px;
left: 0px;
max-width: 100%;
height: 120px;
background: #000324 0% 0% no-repeat padding-box;
opacity: 1;
}

.nav-link{
color: #FFFFFF;
text-align: left;
font: normal normal normal 20px/26px Dosis;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.reserveBox{
border: 2px solid #E5FEFF;
opacity: 1;
margin-left: 35px;
}

.imgLogo{
/* background: transparent url(../assets/hotelMarkupAssets/Logo.png) 0% 0% no-repeat padding-box; */
opacity: 1;
margin-left: 36px;
margin-right: 36px;
}

.headerImg{
top: 119px;
left: 0px;
max-width: 100%;
height: 600px;
opacity: 1px;
}

.imgSpace{
padding-right: 0px;
padding-left: 0px;
}

.hamsterhome{
    display: block;
    padding-top: 85px;
}

.WelcomeText{
    color: #1A1B26;
    font-family: Dosis;
    font-size: 35px;
    padding-top: 85px;
}

h6{
font-family: SourceSansPro;
font-size: 16px;
padding-top: 20px;
color: #1A1B26;
}

.awards{
    padding-left: 20px;
    padding-top: 60px;
    padding-right:50px;
}

.box{
    width: 400px;
    height: 250px;
    background-color: #000324;
    opacity: 0.6;
}

.titleforcard{
text-align: left;
font: normal normal normal 25px/32px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.textforcard{
text-align: left;
font: normal normal bold 16px/20px SourceSansProBold;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}
.textforcard11{
    text-align: left;
    font: normal normal bold 16px/20px SourceSansProBold;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    }

.textforcard2{
    text-align: left;
    font: normal normal normal 16px/20px SourceSansPro;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    }

.buttonReserve{
    background-color: #004CC7;
    font: normal normal bold 20px/25px SourceSansProBold;
    border-radius: 0%;
}

.classPackage{
padding-top: 90px;
text-align: center;
font: normal normal normal 35px/44px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.PackageTitle{
text-align: left;
font: normal normal normal 25px/32px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.PackageCost{
padding-top: 20px;
text-align: left;
font: normal normal normal 16px/20px SourceSansPro;
letter-spacing: 0px;
color: #1F51A8;
opacity: 1;
}

.PackageText{
padding-top: 20px;
text-align: left;
font: normal normal normal 16px/20px SourceSansPro;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.imgSpring{
    margin-top: 50px;
}

.PackageTitle2{
    padding-top: 20px;
    text-align: left;
    font: normal normal normal 25px/32px Dosis;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    }

.imgCheese{
    padding-top: 10px;
}

.AmenitiesTitle{
    padding-top: 40px;
    text-align: center;
font: normal normal normal 35px/44px Dosis;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.AmenitiesText{
    padding-top: 20px;
    text-align: center;
font: normal normal normal 16px/20px SourceSansPro;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.rowAmenities{
    padding-top: 110px;
    text-align: center;
}

.ImgText{
    padding-top: 30px;
    text-align: center;
font: normal normal bold 20px/25px SourceSansProBold;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.box2{
    margin-top: 90px;
    width: 1000px;
    height: 200px;
    border: 1px solid;
    background-color: #000324;
}

.textReserve{
padding-top: 15px;
color: #FFFFFF;
text-align: center;
font: normal normal normal 35px/44px Dosis;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.box3{
    width: 1000px;
    height: 200px;
    border: 1px solid;
    background-color: #000324;
}

.ImgBackground{
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.TextReserveRoom{
text-align: left;
font: normal normal normal 16px/20px SourceSansPro;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}

.ReserveCheckBtn{
    margin-top: 35px;
border: #000DC7;
background-color: #006EDB;
height: 29px;
width: auto;
text-align: center;
font-family:  SourceSansPro;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}


.footer{
    background-color: #000324;
    height: 300px;
    max-width: 100%;
}

.imgLogo2{
/* background: transparent url(../assets/hotelMarkupAssets/Logo.png) 0% 0% no-repeat padding-box; */
opacity: 1;
padding-top: 20px;
 }


.footerText{
margin-top: 50px;
text-align: center;
font: normal normal normal 16px/20px SourceSansPro;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}
.footerText2{
    margin-top: 20px;
    text-align: center;
    font: normal normal normal 16px/20px SourceSansPro;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
    }

.centerdBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000324;
    height: 200px;
    width: 940px;
    opacity: 0.8;
    top: 400px;
}
.centerdBox2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    top: 400px;
}



.HeaderText{
text-align: center;
font: normal normal normal 45px/57px Dosis;
letter-spacing: 0px;
color: #E5FEFF;
padding-top: 30px;
}
.HeaderText2{
    text-align: center;
    font: normal normal normal 16px/20px SourceSansPro;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
    padding-top: 30px;
    }

@media screen and (max-width: 820px){
     .navbar{
        max-width: 100%;
        height: 120px; 
        background: #000324 0% 0% no-repeat padding-box;
        opacity: 1;
         }  
         
}

@media screen and (max-width: 820px){
    .nav-link{
        color: #FFFFFF;
        text-align: left;
        font: normal normal normal 12px/18px Dosis;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        }

}

@media screen and (max-width: 820px) {
    h1{
        font-size: 30px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 820px) {
    .awards1{
        position: absolute;
        left: 530px;
        top: 750px;
        padding-left: 0px;
    }
    .awards2{
        position: absolute;
        left: 530px;
        top: 1000px;
        padding-left: 0px;
    }
    .awards3{
        position: absolute;
        left: 530px;
        top: 1300px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 820px) {
    .textforcard{
        font-size: 20px;
    }
    .textforcard2{
        font-size: 0px;
    }

    .card1{
        width: 200px;
        height: 600px;
        position: absolute;
        left: 50px;
        column-gap: 4px;
    }
    .card2{
        width: 200px;
        height: 600px;
        position: absolute;
        left: 300px;
        column-gap: 4px;
    }
    .card3{
        width: 200px;
        height: 600px;
        position: absolute;
        left: 550px;
        column-gap: 4px;
    }

    .buttonReserve1{
    background-color: #004CC7;
    font: normal normal bold 20px/25px SourceSansProBold;
    border-radius: 0%;
    position: absolute;
    top: 530px;
    }
    .buttonReserve2{
        background-color: #004CC7;
    font: normal normal bold 20px/25px SourceSansProBold;
    border-radius: 0%;
    position: absolute;
    top: 530px;
    }
    .buttonReserve3{
        background-color: #004CC7;
        font: normal normal bold 20px/25px SourceSansProBold;
        border-radius: 0%;
        position: absolute;
        top: 530px; 
    }
}

@media screen and (max-width: 820px) {
    .small-input {
        width: 100px;
        height: 30px;
    }
    .ReserveCheckBtn{
        margin-top: 33px;
    border: #000DC7;
    background-color: #006EDB;
    height: 30px;
    width: auto;
    text-align: center;
    font-family:  SourceSansPro;
    letter-spacing: 0px;
    font-size: 12px;
    color: #FFFFFF;
    opacity: 1;
    }
    .TextReserveRoom{
        text-align: left;
        font: normal normal normal 12px/16px SourceSansPro;
        letter-spacing: 0px;
        color: #E5FEFF;
        opacity: 1;
        }
    .ReserveImg{
       padding-left: 0px;
       padding-right: 0px;
    }
}

@media screen and (max-width: 500px) {
    .navbar1{
        display: block;
    }

    .navbarBig{
        display: none;
    }
}

@media screen and (min-width: 500px) {
    .navbar1{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .awards1{
        position: absolute;
        left: 280px;
        top: 1150px;
        padding-left: 0px;
        width: 120px;
        height: 100px;
    }
    .awards2{
        position: absolute;
        left: 280px;
        top: 1000px;
        padding-left: 0px;
        width: 120px;
        height: 100px;
    }
    .awards3{
        position: absolute;
        left: 280px;
        top: 1330px;
        padding-left: 0px;
        width: 120px;
        height: 100px;
    }
}

@media screen and (min-width: 500px) {
    .Mobile{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .normal{
        display: none;
    }
    .WelcomeTextM{
        color: #1A1B26;
        font-family: Dosis;
        font-size: 15px;
        padding-top: 35px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .classBigCard{
        display: none;
    }
    .bigImgBackground{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .NormalPackage{
        display: none;
    }
}
@media screen and (min-width: 500px) {
    .MobilePackage{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .small-input {
        width: 50px;
        height: 30px;
    }
    .ReserveCheckBtn{
        margin-top: 26px;
    border: #000DC7;
    background-color: #006EDB;
    height: 30px;
    width: auto;
    text-align: center;
    font-family:  SourceSansPro;
    letter-spacing: 0px;
    font-size: 10px;
    color: #FFFFFF;
    opacity: 1;
    }
    .TextReserveRoom{
        text-align: left;
        font: normal normal normal 6px/10px SourceSansPro;
        letter-spacing: 0px;
        color: #E5FEFF;
        opacity: 1;
        }
    .ReserveImg{
       padding-left: 0px;
       padding-right: 0px;
    }
}

@media screen and (min-width: 500px) {
    .MobileImgSmall{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .NormalImgBig{
        display: none;
    }
    .HeaderText{
        text-align: center;
        font: normal normal normal 25px/57px Dosis;
        letter-spacing: 0px;
        color: #E5FEFF;
        padding-top: 30px;
        }
        .HeaderText2{
            text-align: center;
            font: normal normal normal 16px/20px SourceSansPro;
            letter-spacing: 0px;
            color: #E5FEFF;
            opacity: 1;
            padding-top: 30px;
            }
}
.dropdown-toggle{
    color: white;
}

.LogoSmallMobile{
    background-color: #000324;
}
.navbar1{
    background: #000324;
    background-color: #000324;
    color: #000324;
}

.ImgSmallCard{
    width: 200px;
    height: 200px;
}

.CardTextSmall{
    font-size: 12px;
}

@media screen and (max-width: 500px) {
.textforcard{
    font-size: 10px;
}
.textforcard2{
    font-size: 10px;
}
.textforcard23{
    font-size: 8px;
}
.textforcard11{
    font-size: 8px;
}
.buttonReserve{
    background-color: #004CC7;
    font: normal normal bold 10px/15px SourceSansProBold;
    text-align: justify;
    border-radius: 0%;
    position: absolute;
    top: 20px;
    left: 330px;
    height: 20px;
}
}
@media screen and (min-width: 500px) {
    .classSmallCard{
        display: none;
    }
    .bigSmallBackground{
        display: none;
    }
}